.container {
  display: flex;
  flex-direction: column;
}

/*
 * Margin and padding 
 */

/* Only on x axis */

.mx-0 {
  margin-right: 0;
  margin-left: 0;
}

.mx-0\.5 {
  margin-right: 0.5px;
  margin-left: 0.5px;
}

.mx-5 {
  margin-right: 5px;
  margin-left: 5px;
}

.mx-16 {
  margin-right: 16px;
  margin-left: 16px;
}

@media (min-width: 768px) {
  .md\:mx-0 {
    margin-right: 0;
    margin-left: 0;
  }

  .md\:mx-0\.5 {
    margin-right: 0.5px;
    margin-left: 0.5px;
  }

  .md\:mx-5 {
    margin-right: 5px;
    margin-left: 5px;
  }

  .md\:mx-16 {
    margin-right: 16px;
    margin-left: 16px;
  }
}

/* Only on y axis */

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-0\.5 {
  margin-top: 0.5px;
  margin-bottom: 0.5px;
}

.my-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.my-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .md\:my-0 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .md\:my-0\.5 {
    margin-top: 0.5px;
    margin-bottom: 0.5px;
  }

  .md\:my-5 {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .md\:my-16 {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.ml-0 {
  margin-left: 0;
}

.ml-0\.5 {
  margin-left: 0.5px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-16 {
  margin-left: 16px;
}

@media (min-width: 768px) {
  .md\:ml-0 {
    margin-left: 0;
  }

  .md\:ml-0\.5 {
    margin-left: 0.5px;
  }

  .md\:ml-5 {
    margin-left: 5px;
  }

  .md\:ml-16 {
    margin-left: 16px;
  }
}

.mr-0 {
  margin-right: 0;
}

.mr-0\.5 {
  margin-right: 0.5px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-16 {
  margin-right: 16px;
}

@media (min-width: 768px) {
  .md\:mr-0 {
    margin-right: 0;
  }

  .md\:mr-0\.5 {
    margin-right: 0.5px;
  }

  .md\:mr-5 {
    margin-right: 5px;
  }

  .md\:mr-16 {
    margin-right: 16px;
  }
}

.mt-0 {
  margin-top: 0;
}

.mt-0\.5 {
  margin-top: 0.5px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-16 {
  margin-top: 16px;
}

@media (min-width: 768px) {
  .md\:mt-0 {
    margin-top: 0;
  }

  .md\:mt-0\.5 {
    margin-top: 0.5px;
  }

  .md\:mt-5 {
    margin-top: 5px;
  }

  .md\:mt-16 {
    margin-top: 16px;
  }
}

.mb-0 {
  margin-bottom: 0;
}

.mb-0\.5 {
  margin-bottom: 0.5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-16 {
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .md\:mb-0 {
    margin-bottom: 0;
  }

  .md\:mb-0\.5 {
    margin-bottom: 0.5px;
  }

  .md\:mb-5 {
    margin-bottom: 5px;
  }

  .md\:mb-16 {
    margin-bottom: 16px;
  }
}

/*
 * Typographie
 */
.text-normal {
  font-size: 1rem;
}

.text-big {
  font-size: 1.1rem;
}

.text-xl {
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .md\:text-normal {
    font-size: 1rem;
  }

  .md\:text-big {
    font-size: 1.1rem;
  }

  .md\:text-xl {
    font-size: 1.2rem;
  }

  .md\:justify-start {
    justify-content: flex-start;
  }
  .md\:justify-end {
    justify-content: flex-end;
  }
  .md\:justify-center {
    justify-content: center;
  }
  .md\:justify-between {
    justify-content: space-between;
  }
  .md\:justify-around {
    justify-content: space-around;
  }
  .md\:justify-evenly {
    justify-content: space-evenly;
  }
}

/*
 * Positionning
 */

.flex {
  display: flex;
}
.col {
  flex-direction: column;
}
.row {
  flex-direction: row;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}
.items-baseline {
  align-items: baseline;
}

@media (min-width: 768px) {
  .md\:flex {
    display: flex;
  }
  .md\:.col {
    flex-direction: column;
  }
  .md\:.row {
    flex-direction: row;
  }
  .md\:.justify-start {
    justify-content: flex-start;
  }
  .md\:.justify-end {
    justify-content: flex-end;
  }
  .md\:.justify-center {
    justify-content: center;
  }
  .md\:.justify-between {
    justify-content: space-between;
  }
  .md\:.justify-around {
    justify-content: space-around;
  }
  .md\:.justify-evenly {
    justify-content: space-evenly;
  }
  .md\:.items-baseline {
    align-items: baseline;
  }
}

.title {
  display: flex;
  grid-area: title;
  order: -1;
  justify-content: center;
}

h1 {
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  margin: 10px 0 0;
}

ul {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

hr {
  border-left: 1px solid #9b9b9b;
  width: 75%;
}

main {
  display: flex;
  flex-direction: column;
}

.group-title {
  display: flex;
  margin: 15px 0;
  align-items: baseline;
}

.field {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

.fa-check-circle {
  color: #008f0e;
  margin-right: 10px;
}

.fa-circle-notch {
  color: #9e1d1d;
  margin-right: 10px;
}

.fa-info-circle {
  color: #22a2ff;
  margin-right: 10px;
}
