* {
  box-sizing: border-box;
}

body,
h1,
h2 {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

html {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}

a {
  font-size: 20px;
  line-height: 25px;
  text-decoration: none;

  color: #000000;
}
