* {
  box-sizing: border-box;
}

html {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 25px;
}

body {
  margin: 0 20px;
}

/*
 * Global element
 */

a {
  font-size: 20px;
  line-height: 25px;
  text-decoration: none;

  color: #000000;
}

li {
  list-style-type: none;
}

h1 {
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  align-self: center;
}

nav {
  display: flex;
  flex-direction: column;
}

ul {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

p {
    margin: 5px 0;
}

hr {
  border-left: 1px solid #9b9b9b;
  width: 75%;
}

main {
  display: flex;
  flex-direction: column;
}

.group--title {
  display: flex;
  margin: 15px 0;
}

.group--title h2 {
  font-weight: 400;
  font-size: 22px;
  margin: 0;
}

.field {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

input[type="tel"] {
  width:  100px;
}

input {
  margin-left: 5px;
}

textarea {
  width: 100%;
}

/*
   * Icon Font Awsome
   */

.fa-check-circle {
  color: #008f0e;
  margin-right: 10px;
}

.fa-circle-notch {
  color: #9e1d1d;
  margin-right: 10px;
}

.fa-info-circle {
  color: #22a2ff;
  margin-right: 10px;
}
