* {
    box-sizing: border-box;
}

html {
    line-height: 25px;
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-size: 20px;
}

body {
    margin: 0 20px;
}

a {
    font-size: 20px;
    line-height: 25px;
    text-decoration: none;

    color: #000000;
}

li {
    list-style-type: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    grid-area: title;
    order: -1;
    justify-content: center;
}

h1 {
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
}

ul {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

p {
    margin: 5px 0;
}

hr {
    border-left: 1px solid #9b9b9b;
    width: 75%;
}

main {
    display: flex;
    flex-direction: column;
}

.group--title {
    display: flex;
    margin: 15px 0;
}

.group--title h2 {
    font-weight: 400;
    font-size: 22px;
    margin: 0;
}

.field {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}

input[type="tel"] {
    width: 100px;
}

input {
    margin-left: 5px;
}

textarea {
    width: 100%;
}

.fa-check-circle {
    color: #008f0e;
    margin-right: 10px;
}

.fa-circle-notch {
    color: #9e1d1d;
    margin-right: 10px;
}

.fa-info-circle {
    color: #22a2ff;
    margin-right: 10px;
}

@media (min-width: 768px) {
    body {
        margin: 0;
    }

    a {
        margin-left: 10px;
    }

    li {
        list-style-type: none;
    }

    .title {
        justify-content: flex-start;
    }

    h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .wrapper {
        margin: 40px 0 0;

        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
    "nav title title title title empty"
    "nav content content content content empty";
    }

    nav {
        grid-area: nav;
        flex-direction: row;
        padding-left: 40px;
        margin-right: 20px;
    }

    ul {
        justify-content: flex-start;
        margin-right: 20px;

        list-style-type: none;
        padding-right: 20px;

        align-content: flex-end;
        flex-direction: column;

        margin-bottom: initial;
    }

    li {
        width: min-content;
        white-space: nowrap;
        margin-bottom: 5px;
    }

    hr {
        flex-grow: 2;

        height: 80px;
        width: 0;

        border: none;
        border-left: 1px solid #9b9b9b;
        writing-mode: vertical-lr;

        margin-top: 20px;
    }

    .active {
        font-weight: 600;
    }

    main {
        grid-area: content;
    }

    form > section {
        margin: 50px 15px;
    }

    .row {
        margin: 15px 0 0;
        display: flex;
        flex-wrap: wrap;
    }

    .field {
        display: flex;
        margin: 0;
    }

    section > h2 {
        font-weight: normal;
        font-size: 22px;
    }

    form input {
        margin-right: 10px;
        margin-left: 10px;
        height: 28px;
    }

    form input[type="number"] {
        width: 50px;
    }

    form input[type="email"] {
        width: 300px;
    }

    form input[type="tel"] {
        width: 120px;
    }

    form input[type="submit"] {
        background: #ffffff;
        border: 1px solid #000000;
        border-radius: 14px;
        outline: 0;
        font-size: 18px;

        width: 150px;
        height: 40px;
    }

    form textarea {
        width: 75%;
        font-size: 17px;
    }

    .submit {
        display: flex;
        justify-content: flex-end;
        margin-right: 25%;
    }

    .group--title {
        display: flex;
    }

    .group--title h2 {
        font-weight: 400;
        font-size: 22px;
        margin: 0;
    }
}
