<!DOCTYPE html>
<html lang="fr" class="font-sans">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Vé’Loire et une nouvelle entreprise de création et d’aménagement de site d’hébergement sur la Loire à vélo. Elle désire créer un nouveau concept de camp de logement autonome destiné aux cyclistes de la Loire à vélo faisant le parcours en famille.">
		<meta name="Language" content="fr"/>
		<title><?= $title ?></title>
		<link rel="stylesheet" href="./assets/reset.css">
		<link rel="stylesheet" href="./assets/styles.css">
		<script src="https://kit.fontawesome.com/144cef3fee.js" crossorigin="anonymous"></script>
		<script src="./assets/app.js" async defer></script>
	</head>
	<body>
		<div class="mx-16 lg:grid lg:my-8">
			<?php include __DIR__ . '/../_components/title.html' ?>
			<?php include __DIR__ . '/../_components/navbar.html' ?>
