<?php include '_layout/header.html' ?>
<main class="flex col lg:row-start-2 lg:col-start-2 lg:row-end-6 lg:col-end-5 lg:mt-16">
	<form action="" method="POST">
		<section>
			<h2 class="text-xl text-regular my-16">
				<i class="mr-8 h-1" id="icon-date"></i>
				Veuillez entrer vos dates de s&eacute;jour afin de verifier la disponibilit&eacute;
			</h2>
			<p class="lg:flex lg:row">
				<span class="flex row lg:mr-16 lg:my-8">
					<label for="arival">Nous arrivons le:</label>
					<input type="date" name="arival" id="arival" value="2020-10-11" class="ml-5" required>
				</span>
				<span class="flex row lg:mr-16 lg:my-8">
					<label for="departure">Nous repartirons le:</label>
					<input type="date" name="departure" id="departure" value="2020-10-12" class="ml-5" required>
				</span>
			</p>
		</section>
		<section>
			<h2 class="my-16 text-xl text-regular">
				<i class="mr-8 h-1" id="icon-number"></i>
				Veuillez remplir certaines informations sur les differentes personnes
			</h2>
			<p class="lg:flex lg:row">
				<span class="flex row lg:mr-16 lg:my-8">
					<label for="adult">Nombre d&rsquo;adulte:</label>
					<input type="number" name="adult" id="adult" max="10" min="1" class="ml-5" required>
				</span>
				<span class="flex row lg:mr-16 lg:my-8">
					<label for="child">Nombre d&rsquo;enfant:</label>
					<input type="number" name="child" id="child" class="ml-5" max="16" min="0">
				</span>
			</p>
		</section>
		<section>
			<h2 class="my-16 text-xl text-regular">
				<i class="mr-8 h-1" id="icon-information"></i>
				Veuillez entrer vos informations personnelles n&eacute;c&eacute;ssaire au traitement de la res&eacute;rvation
			</h2>
			<p class="lg:flex lg:row">
				<span class="flex row lg:mr-16 lg:my-8">
					<label for="name">Pr&eacute;nom:</label>
					<input type="text" name="name" id="name" class="ml-5" required>
				</span>
				<span class="flex row lg:mr-16 lg:my-8">
					<label for="surname">Nom de famille:</label>
					<input type="text" name="surname" id="surname" class="ml-5" required>

				</span>
			</p>
			<p class="lg:flex lg:row">
				<span class="flex row lg:mr-16 lg:my-8">
					<label for="email">Votre adresse email:</label>
					<input type="email" name="email" id="email" class="ml-5" required>
				</span>
			</p>
			<p class="lg:flex lg:row">
				<span class="flex row lg:mr-16 lg:my-8">
					<label for="phone">Votre num&eacute;ro de t&eacute;l&eacute;phone:</label>
					<input type="tel" name="phone" id="phone" class="ml-5" required>

				</span>
			</p>
			<p class="lg:flex lg:row">
				<span class="flex row lg:mr-16 lg:my-8">
					<label for="city">Votre ville:</label>
					<input type="text" name="city" id="city" class="ml-5" required>

				</span>
				<span class="flex row lg:mr-16 lg:my-8">
					<label for="postal_code">Votre code postal:</label>
					<input type="text" name="postal_code" id="postal_code" class="ml-5" required>

				</span>
			</p>
		</section>
		<section>
			<h2 class="my-16 text-xl text-regular">
				<i class="mr-8 h-1" id="icon-info"></i>
				Avez vous des informations complementaire &agrave; nous addresser ?
			</h2>
			<label>
				<textarea class="w-full lg:w-2/3" name=""></textarea>
			</label>
		</section>
		<section class="flex justify-end">
			<input type="submit" class="btn px-16 py-8 lg:mr-1/5 mt-16 bg-gray-200 hover:bg-white" value="Je reserve" style="border: 1px solid #000000;border-radius: 14px;"/>
		</section>
	</form>
</main>
<?php include '_layout/footer.html' ?>
