<?php include '_layout/header.html' ?>
<main class="flex col lg:row-start-2 lg:col-start-2 lg:row-end-6 lg:col-end-5 lg:mt-16">


	<h2 class="text-2xl text-regular my-16 flex">
		<svg class="self-center mr-8" width="1em" height="1em" viewbox="0 0 16 16" fill=" rgb(5, 150, 105)" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
		</svg>
		Merci beaucoup pour votre réservation !
	</h2>

	<p>Nous avons correctement recu votre demande de réservation. Voulez vous retournez à
		<a class="no-underlign text-black" href="/">la page d'accueil</a>
		?
	</p>
</main>
<?php include '_layout/footer.html' ?>
